/* HEADER */
#selectFeature .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    background-color: white !important;
    border: none !important;
    text-shadow: none !important;
    border-bottom: 1px solid #e9e9e9 !important;
    height: 60px;
    text-transform: capitalize;
}

#selectFeature .header > a {
    background-color: transparent !important;
    border: none !important;
    width: unset !important;
    position: inherit !important;
    top: 0px !important;
}

#selectFeature .header > div {
    flex-basis: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 5px;
}

#selectFeature .header > div > p {
    color: #959595 !important;
    font-family: Montserrat;
    text-shadow: none !important;
    font-size: 15px !important;
    font-weight: 600 !important;
    margin: 0;
}

#selectFeature .header > div > p:nth-of-type(2){
    color: #4abccc !important;
    padding: 5px;
    font-size: 12px !important;
}

/* CONTENT */

#selectFeature .body {
    border: none !important;
    padding-top: 0px !important;
}

#selectFeature .body > p {
    font-family: Montserrat;
    font-size: 14px;
    color: #757575;
    margin: 0px !important;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

#selectFeature .body > div {
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    padding-top: 10px;
}

#selectFeature .body form > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 10px;
    padding-bottom: 20px;
    border-bottom: 1px solid #f5f5f5;
}

#selectFeature .body form > div:last-of-type {
    border-bottom: none;
    margin-bottom: 0px;
    padding-bottom: 10px;
}

#selectFeature .body .feature {
    display: flex;
    flex-direction: column;
    font-family: Montserrat;
    flex-basis: 70%;
}

#selectFeature .body .feature > label {
    font-size: 14px;
}

#selectFeature .body .feature > small {
    font-size: 11px;
    color: gray !important;
}

#selectFeature .body .ui-flipswitch {
    width: 3.875em !important;
}

#selectFeature .body .ui-shadow-inset {
    box-shadow: none !important;
}

.ui-page-theme-a .ui-flipswitch-active {
    background-color: #4abccc !important;
    border-color: #4abccc !important;
}

#selectFeature .body .ui-flipswitch.ui-flipswitch-active {
    padding-left: 2em !important;
    width: 1.875em !important;
}

#selectFeature .body .ui-flipswitch .ui-btn.ui-flipswitch-on {
    border-radius: 20px;
}

#selectFeature .body .ui-flipswitch.ui-corner-all {
    border-radius: 20px !important;
}
