.addSp-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    background-color: white !important;
    border: none !important;
    text-shadow: none !important;
    border-bottom: 1px solid #e9e9e9 !important;
    height: 60px;
    text-transform: capitalize;
}

.addSp-header > p {
    color: #959595 !important;
    font-family: Montserrat;
    text-shadow: none !important;
    font-size: 15px !important;
    font-weight: 600 !important;
    margin: 0;
}

.addSp-header > p:nth-of-type(2) {
    font-size: 12px !important;
    color: #e25c5c !important;
    /* color: red !important; */
    /* font-weight: 300 !important; */

}

/* ADDSPACE */
.addSp {
    padding-top: 0px !important;
    border: none !important;
}

.addSp > p {
    font-family: Montserrat;
    font-size: 14px;
    color: #757575;
}

.addSp > div {
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    padding-top: 15px;
}

.addSp form > div > label {
    font-family: Montserrat !important;
    font-size: 14px !important;
    color: #585858;
    text-transform: capitalize;
    transition-duration: .5s;
}

.addSp form > div > label.focusInput {
    font-size: 10px !important;
    color: #4abccc;
}

.addSp form input,
.addSp form textarea {
    border: none;
    border-bottom: 1px solid #ebebeb;
    background-color: transparent;
    padding-left: 0px;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 20px;
    line-height: 1.8;
    padding-bottom: 3px;
    font-size: 15px;
    color: #6f6f6f;
    font-family: Montserrat;
    font-weight: bold;
}

.addSp form textarea {
    margin-bottom: 0px;
}

.addSp form textarea::placeholder {
    margin-bottom: 0px;
    font-weight: 300;
}

.addSp form input:focus{
    border: none;
    border-bottom: 2px solid #4abccc;
    outline: none;
}

.addSp form input::placeholder {
    font-size: 14px;
    color: #BABABA;
    font-family: Montserrat;
    font-weight: normal;
}

.addSp form textarea {
    display: block;
    padding: 7px;
    box-sizing: border-box;
    width: 100%;
    margin-top: 10px;
    border: 1px solid #d7d7d7;
}

.addSp form textarea::placeholder {
    color: #BABABA;
    font-size: 14px;
    font-family: Montserrat;
}

/* ADDSPACE FOOTER */
.addSp-footer{
    background-color: white !important;
    border: none !important;
    text-shadow: none !important;
    display: flex !important;
    /* justify-content: center; */
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid #e9e9e9 !important;
    height: 50px !important;
}

.addSp-footer button {
    display: flex !important;
    flex-basis: 50%;
    justify-content: center;
    align-items: center;
    font-family: Montserrat;
    box-shadow: none !important;
    background-color: white !important;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: 300;
    border: none !important;
    margin: 0px !important;
    border-radius: 0px !important;
}

.addSp-footer button svg {
    margin-right: 5px;
}

.addSp-footer button.contBtn {
    color: #4abccc !important;
    font-weight: 700 !important;
}

.addSp-footer button.clear {
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Montserrat;
    box-shadow: none !important;
    background-color: white !important; */
    color: gray !important;
    border-right: 1px solid #eaeaea !important;
    /* padding: 3px; */
    /* font-weight: 300; */
    /* margin-right: 10px !important; */
    /* border: none !important; */
    /* margin: 0px !important; */
}
